node_modules/
bower_components/
bin/
obj/
.vs/
MetaMap.csproj
MetaMap.csproj.user
MetaMap.sln
MetaMap.v12.suo
Properties/AssemblyInfo.cs
Web.Debug.config
Web.Release.config
Web.config
.idea/
desktop.ini
npm-debug.log
*.log
typings/
dist/
report/
src/vendor/cdn/
