node_modules/
bower_components/
bin/
obj/
.vs/
Homunculus.csproj
Homunculus.csproj.user
Homunculus.sln
Homunculus.v12.suo
Properties/AssemblyInfo.cs
Web.Debug.config
Web.Release.config
Web.config
.idea/
desktop.ini
npm-debug.log
*.log
typings/
dist/
report/
src/vendor/cdn/
Homunculus.iml
dev.html
index.html
.vscode/
