

//some variables for ASSAN theme, you can create your own easily.
$body-bg:#fff;
$base-line-height:24px;
$skincolor: #fbaa35;//Theme default color code, paste your own code here
$lightcolor: rgb(255, 255, 255); //white color and background
$graycolor: rgb(150, 150, 155); //gray color for p tags
$darkcolor: rgb(60, 75, 40); //dark color for heading
$primary-font:  'Open Sans', sans-serif; //default font family
$title-font: 'Raleway', sans-serif; //Title and headings font family
$base-font-size:13px; //default basic font size
$alert-color: rgb(220, 75, 40); //alert color

