header, 
#header-right,
.header-popup,
#tutorial,
#main-toolbar,
#map-properties,
#map-title a,
#map-title .dropdown-menu,
#map-edit-status,
#navigator, 

#history-tab,
#analytics-tab-thing,
#perspectives-tab,
#distinctions-tab,
#attachments-tab,
#generator-tab,
#standards-tab,
#help-tip,

#tests,
.tab-close-button
{
  display:none;
}


#presenter-print-view {
  display:block;
}

.slide-sidebar, .slide-wrapper { display:none; }
#presenter-toolbar-bottom { display:none; }

img.slide-thumbnail-image { display:block; }

.slide-thumbnail-number, 
.slide-thumbnail-duplicate, 
.slide-thumbnail-delete, 
.slide-thumbnail-move-left, 
.slide-thumbnail-move-right { display:none; }

.slide-text-display {
  input, 
  textarea,
  button { display:none; }

  .slide-title {
    span { display:inline; }
    .slide-thumbnail-number { display:inline; }
  }
}


#map-title { 
  font-size: 24pt; 
  font-weight:bold; 
  margin-bottom: 10pt;
}

ul.map-actions { display:none; }
#new-map-button, #save-copy-form { display:none; }

#analytics-tab-map {
  display:none;
  clear:both;

  .analytics-subject-wrapper {
    float:none;
    clear:both;
  }
  .big-analytic-wrapper {
    float:none;
    clear:both;
  }
}

#diagram {
  display:none;
  position:relative;
  height:5in;
  border:solid 1px #ccc;
  margin-bottom:.25in;

  canvas {
    height:5in;
  }
}
