
.ideaNode {
    background-color: transparent;
    font-size: 12px;
    position: absolute;
    z-index: 11;
}

.ideaNode .name {
    color: black;
    cursor: move;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    height:24px;
    white-space: pre;
    text-align: left;
    position:absolute;
    left:120%;
    top:20%;
}

.ideaNode .name span {
    cursor:pointer;
}

/* styles for the idea node. */

.perspective_closed {
    opacity:0;
}

.perspective_open {
    opacity:0;
}

.paperclip {
    opacity:0;
}

.node_internal {
    opacity:0;
}

.ideaNode:hover .node_internal {
    opacity:1;
}

.ideaNode:hover .segment {
    opacity:1;
    transition:opacity 0.2s;
}

.segment {
    opacity:0;
    transition:opacity 0.2s;
}

.outer {
    fill:#cccccc;
}

.inner {
    fill:white;
}

.orange, .orange circle {
    fill:#F9A736;
}

.orange_proxy, .orange_proxy circle {
    fill:#F9A736;
    opacity: 0;
}

.red {
    fill:#EF614A;
}

.blue {
    fill:#4ABCC1;
}

.green {
    fill: #93C63D;
}

/* styles for the drag proxy node */
.dragProxy {
  color: #282828;
  opacity: 0.5;
}

/* styles for edges */

.edge-perspective path {
    stroke:orange;
    stroke-width:4;
}

.edge-relationship path {
    stroke:#B3C2C7;
    stroke-width:4;
}

.relationship-overlay {
    fill:#B3C2C7;
}