
.ideaNode {
    background-color: transparent;
    font-size: 12px;
    position: absolute;
    z-index: 11;
}

/* on drag, put the current node above the others. make it a little transparent too. */
.ideaNode.jsplumb-drag {
	z-index:12;
	opacity:0.8;
}

.ideaNode.jsplumb-drag .node-selected {
    /*stroke: #93C63D;*/
}

.ideaNode.jsplumb-dragged .node-rect {
    opacity:1 !important;
    visibility: visible !important;
    display: block !important;
}

.ideaNode.jsplumb-drag-hover .green.segment {
    opacity:1 !important;
}
.ideaNode.jsplumb-drag-hover .letter.S {
    opacity:1 !important;
}

.ideaNode.jsplumb-drag-hover .node-rect {
    opacity:0 !important;
}

.ideaNode .name {
    color: black;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    height:24px;
    white-space: pre;
    position:absolute;
}
.ideaNode .name[data-align="freehand"] {
    cursor: move;
    white-space: pre;
    text-align: left;
    left:120%;
}
.ideaNode .name[data-align="left"] {
    cursor: pointer;
    text-align: left;
    left:120% !important;
}
.ideaNode .name[data-align="right"] {
    cursor: pointer;
    text-align: right;
    right:120% !important;
}

.ideaNode .name[data-align="hide"] {
    display: none;
    visibility: hidden;
}

.ideaNode.A .name {
    top: 30%;
}

.ideaNode.B .name {
    top: 20%;
}

.ideaNode.C .name {
    top: 5%;
}

.ideaNode.D .name {
    top: -5%;
}

.ideaNode.E .name {
    top: -5px;
}

.ideaNode .name.none {
    display: none;
    visibility: hidden;
}

.white-circle {
    cursor: move;
}

.ideaNode .name span {
    cursor:pointer;
}

.node-border {
    fill: #B3C2C7;
}

.node-selected {
    stroke: #000;
}

.relationship-rthing-visible {
    background: #F2624C !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    display: block !important;
    cursor:pointer;
}
div[data-class="relationship-rthing"] {
    background: #B3C2C7;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    display: block !important;
    cursor: default;
}

.eyeball {
    cursor: pointer;
}

/* styles for the idea node. */
.eye-closed {
    opacity:0;
    fill-opacity: 0;
    display: none;
    visibility: hidden;
}

.eye-closed[data-show="open"] {
    opacity:0;
    fill-opacity: 0;
    display: none;
    visibility: hidden;
}
.eye-closed[data-show="closed"] {
    opacity:1;
    fill-opacity: 1;
    display: block;
    visibility: visible;
}

.eye-open[data-show="open"] {
    opacity:1;
    fill-opacity: 1;
    display: block;
    visibility: visible;
}

.eye-open {
    opacity:0;
    fill-opacity: 0;
    display: none;
    visibility: hidden;
}

.file.attachment {
    opacity:0;
}

.node.internal {
    opacity:0;
}

.ideaNode:hover .node.internal {
    opacity:1;
}


.donotdrag {
    cursor: pointer !important;
}

.node-rect {
    opacity: 1;
    fill: #fff;
}

.ideaNode:hover .node-rect {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.ideaNode:hover .segment {
    opacity:1;
    transition:opacity 0.2s;
}

.ideaNode:hover .parts {
    fill: #fff
}

.letter {
    opacity: 0;
}

.ideaNode:hover .letter {
    fill: #fff;
    opacity:1;
    transition:opacity 0.2s;
}

.segment {
    opacity:0;
    transition:opacity 0.2s;
}

.outer {
    fill:#cccccc;
}

.inner {
    fill:white;
}

.orange, .orange circle {
    fill:#F9A736;
}

.orange-proxy, .orange-proxy circle {
    fill:#F9A736;
    opacity: 0;
}

.red {
    fill:#EF614A;
}

.blue {
    fill:#4ABCC1;
}

.green {
    fill: #93C63D;
}

.grey {
    fill:#B3C2C7;
}

/* styles for edges */

.edge-perspective {
    fill: orange
}

.edge-perspective path {
    stroke:orange;
    stroke-width:3;
}

.jtk-surface-selected-connection.edge-perspective {
    stroke:#F74A00;
    stroke-width:6;
}

.edge-perspective:hover path {
    stroke:#F74A00;
    stroke-width:6;
    cursor:pointer;
}

.edge-relationship path {
    stroke:#B3C2C7;
    stroke-width:3;
}

.jtk-surface-selected-connection.edge-relationship path {
    stroke:#4CBFC2;
    stroke-width:6;
}

.edge-relationship:hover path {
    stroke:#4CBFC2;
    stroke-width:6;
    cursor:pointer;
}

.parts {
    fill: #B4C3C8
}

.parts.collapsed[data-show="open"] {
    opacity: 0;
    visibility: hidden;
}

.parts.expanded[data-show="open"] {
    opacity: 1;
    visibility: visible;
}

.parts.collapsed[data-show="closed"] {
    opacity: 1;
    visibility: visible;
}

.parts.expanded[data-show="closed"] {
    opacity: 0;
    visibility: hidden;
}

.parts.collapsed[data-show="none"] {
    opacity: 0;
    visibility: hidden;
}

.parts.expanded[data-show="none"] {
    opacity: 0;
    visibility: hidden;
}
