
.ideaNode {
    background-color: transparent;
    font-size: 12px;
    position: absolute;
    z-index: 11;
}

.ideaNode .name {
    color: black;
    cursor: move;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    height:24px;
    white-space: pre;
    text-align: left;
    position:absolute;
    left:120%;
    top:20%;
}

.white_circle {
    cursor: move;
}

.ideaNode .name span {
    cursor:pointer;
}

.node-border {
    fill: #B3C2C7;
}

.node-selected {
    fill: #000;
}

.jtk-surface-selected-connection {
    fill: #000;
}

/* styles for the idea node. */

.perspective_closed {
    opacity:0;
}

.perspective_open {
    opacity:0;
}

.paperclip {
    opacity:0;
}

.node_internal {
    opacity:0;
}

.ideaNode:hover .node_internal {
    opacity:1;
}


.ideaNode:hover .node-rect {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.ideaNode:hover .segment {
    opacity:1;
    transition:opacity 0.2s;
}

.letter {
    opacity: 0;
}

.ideaNode:hover .letter {
    fill: #fff;
    opacity:1;
    transition:opacity 0.2s;
}

.segment {
    opacity:0;
    transition:opacity 0.2s;
}

.outer {
    fill:#cccccc;
}

.inner {
    fill:white;
}

.orange, .orange circle {
    fill:#F9A736;
}

.orange_proxy, .orange_proxy circle {
    fill:#F9A736;
    opacity: 0;
}

.red {
    fill:#EF614A;
}

.blue {
    fill:#4ABCC1;
}

.green {
    fill: #93C63D;
}

/* styles for edges */

.edge-perspective path {
    stroke:orange;
    stroke-width:4;
}

.edge-perspective:hover path {
    stroke:#F74A00;
    stroke-width:6;
}

.edge-relationship path {
    stroke:#B3C2C7;
    stroke-width:4;
}

.edge-relationship:hover path {
    stroke:#4CBFC2;
    stroke-width:6;
}

.relationship-rthing {
    background: #F2624C !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    display: block;
    visibility: initial;
    cursor:pointer;
}

.edge-relationship:hover .relationship-rthing {
    background: #F2624C;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.relationship-overlay {
    fill:#B3C2C7;
}